In [1]:
import pandas as pd
import numpy as np

In [2]:
enjoy = pd.read_csv("ENJOYSPORT.csv")

In [3]:
enjoy.head()

     Sky AirTemp Humidity    Wind Water Forecast  EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same           1
1  Sunny    Warm     High  Strong  Warm     Same           1
2  Rainy    Cold     High  Strong  Warm   Change           0
3  Sunny    Warm     High  Strong  Cool   Change           1

In [48]:
X = np.array(enjoy)[:,:-1]
Y = np.array(enjoy)[:,-1]
print(X)
print(Y)

[['Sunny' 'Warm' 'Normal' 'Strong' 'Warm' 'Same']
 ['Sunny' 'Warm' 'High' 'Strong' 'Warm' 'Same']
 ['Rainy' 'Cold' 'High' 'Strong' 'Warm' 'Change']
 ['Sunny' 'Warm' 'High' 'Strong' 'Cool' 'Change']]
[1 1 0 1]

In [49]:
def train(X,Y):
    final = []
    for array,target in zip(X,Y):
        if target==0:
            continue
        else:
            if len(final)==0:
                final = array
            else:
                for i in range(len(final)):
                    if final[i] != array[i]:
                        final[i] = '?'
                        print(final)

In [50]:
train(X,Y)

['Sunny' 'Warm' '?' 'Strong' 'Warm' 'Same']
['Sunny' 'Warm' '?' 'Strong' 'Warm' 'Same']
['Sunny' 'Warm' '?' 'Strong' '?' 'Same']
['Sunny' 'Warm' '?' 'Strong' '?' '?']

In [26]:
purchase = pd.read_csv("purchase.csv")
purchase.head()

   example citations    size inLibrary       price editions  buy
0        1      some   small        no  affordable     many   no
1        2      many     big        no   expensive      one  yes
2        3      some     big    always   expensive      few   no
3        4      many  medium        no   expensive     many  yes
4        5      many   small        no  affordable     many  yes

In [51]:
features = np.array(purchase)[:,1:-1]
target = np.array(purchase)[:,-1]
print(features)

[['some' 'small' 'no' 'affordable' 'many']
 ['many' 'big' 'no' 'expensive' 'one']
 ['some' 'big' 'always' 'expensive' 'few']
 ['many' 'medium' 'no' 'expensive' 'many']
 ['many' 'small' 'no' 'affordable' 'many']]

In [52]:
for i in range(len(target)):
    if target[i]=='no':
        target[i] = 0
    else:
        target[i] = 1
print(target)

[0 1 0 1 1]

In [53]:
train(features,target)

['many' '?' 'no' 'expensive' 'one']
['many' '?' 'no' 'expensive' '?']
['many' '?' 'no' 'expensive' '?']
['many' '?' 'no' '?' '?']
['many' '?' 'no' '?' '?']